<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>酒店文化</title>
		<style type="text/css">
			p {
				color: #666666;
				font:bold;
				font-size:22px;
				background-image:url(images/syt.jpg);
				background-position:center;
				background-repeat:no-repeat;
			}
			.greenfont {
				color:green;
				font-family:"隶书";
				font-size:20px;
			}
		</style>
	</head>
	<body bgcolor="#ECF5FF">
		<pre>
			<center><h1 class="greenfont">你是人间的四月天</h1></center>
			<p class="greenfont">
                                    我说你是人间的四月天；笑响点亮了四面风；轻灵在春的光艳中交舞着变。
				你是四月早天里的云烟，黄昏吹着风的软，星子在无意中闪，细雨点洒在花前。
				那轻，那娉婷你是，鲜妍百花的冠冕你戴着，你是天真，庄严，你是夜夜的月圆。
				雪化后那篇鹅黄，你象；新鲜初放芽的绿，你是；柔嫩喜悦水光浮动着你梦期待中白莲。
				你是一树一树的花开，是燕在梁间呢喃，——你是爱，是暖，是希望，你是人间的四月天！
			</p>
		</pre>

<center><h1 class="greenfont">《春晓》</h1></center>
<center><h2 class="greenfont">唐 孟浩然</h2></center>
		<center><p class="greenfont">
                 春眠不觉晓，<br />
                 处处闻啼鸟。<br />
                 夜来风雨声，<br />
                 花落知多少。<br />
			</p></center>
		</pre>
<script type="text/javascript">
	function Get_back() {
	window.location.href='/home';
	}
</script>
<center><input  type="button"  value="返回" onclick="Get_back();"/></center>
	</body>
</html>