<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <!--<script type="text/javascript">-->
	<!--function GetUser() {-->
	<!--window.location.href='/user';-->
	<!--}-->
    <!--</script>-->
</head>
<body bgcolor="#ECF5FF">
<img src="{{ static_url("images/wxt.jpg") }}" width="370" height="100" alt="" />
&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/user/lodge" style="text-decoration:none;font-weight:bold;"><font face="宋体" size=4.5 >我的住宿</font></a>
<font><strong>&nbsp;&nbsp;|&nbsp;&nbsp;</strong></font>
<a href="/culture" style="text-decoration:none;font-weight:bold;"><font face="宋体" size=4.5 >餐饮</font></a>
<font><strong>&nbsp;&nbsp;|&nbsp;&nbsp;</strong></font>
<a href="/culture" style="text-decoration:none;font-weight:bold;"><font face="宋体" size=4.5 >娱乐</font></a>
<font><strong>&nbsp;&nbsp;|&nbsp;&nbsp;</strong></font>
<a href="/culture" style="text-decoration:none;font-weight:bold;"><font face="宋体" size=4.5 >行政</font></a>
<font><strong>&nbsp;&nbsp;|&nbsp;&nbsp;</strong></font>
<a href="/culture" style="text-decoration:none;font-weight:bold;"><font face="宋体" size=4.5 >科技</font></a>
<font><strong>&nbsp;&nbsp;|&nbsp;&nbsp;</strong></font>
<a href="/culture" style="text-decoration:none;font-weight:bold;"><font face="宋体" size=4.5 >历史</font></a>
<font><strong>&nbsp;&nbsp;|&nbsp;&nbsp;</strong></font>
<a href="/culture" style="text-decoration:none;font-weight:bold;"><font face="宋体" size=4.5 >酒店文化</font></a>
<font><strong>&nbsp;&nbsp;|&nbsp;&nbsp;</strong></font>
<a href="/user/us" style="text-decoration:none;font-weight:bold;"><font face="宋体" size=4.5 >关于我们</font></a>
<font><strong>&nbsp;&nbsp;|&nbsp;&nbsp;</strong></font>
<a href="/index" style="text-decoration:none;font-weight:bold;"><font face="宋体" size=4.5 >系统管理</font></a>
<font><strong>&nbsp;&nbsp;|&nbsp;&nbsp;</strong></font>
<a href="/user/userhelp" style="text-decoration:none;font-weight:bold;"><font face="宋体" size=4.5 >帮助中心</font></a>
<!--<center><input  type="button"  value="客流量分析" onclick="GetUser();"/></center>-->
<br />
<p><div style="border:3px solid #FFB6C1";></div>
    <img src="{{ static_url("images/Hangzhou.jpg") }}" width="1300" height="550" alt="" /></p>
<p><img src="{{ static_url("images/jiudian.jpg") }}" width="1300" height="550" alt="" /></p>
<p><img src="{{ static_url("images/Resort.jpg") }}" width="1300" height="550" alt="" /></p>


 <div id="footer" ><font color="red" size="2.5"><strong><center>CopyRight@2017 版权所有： 温馨堂大酒店  |  技术支持:  何伟财工程师</center></strong></font></div>
</body>
</html>