<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>帮助</title>
    <script type="text/javascript">
	function Get_back() {
	window.location.href='/home';
	}
	function GetHome(){
	window.location.href='/home';
	}
    </script>
</head>
<body>
<p><img src="{{ static_url("images/question.png") }}" width="250" height="55" alt="" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/user/linkman"><span class="right"><img src="{{ static_url("images/email.png") }}" width="250" height="55" alt="" /></span></a>
    <span style="float:right;"><input  type="submit"  value="返回首页" onclick="GetHome();"/></span>
</p>

<h2>常见问题</h2>
<h3>如何获得我的酒店账单副本？</h3>
您可在入住或退房时向前台索取您的酒店账单副本。如果您已完成住宿，或希望获得以往住宿的账单副本，请单击通过电子邮件联系我们，喜来登我们的员工会与您联系。<br/>
<br/>
请注意：酒店账单不能在线提供，只能通过电子邮件发送至预订中所列出的个人。<br/>
<h3>什么是杂费？</h3>
酒店房价之外的任何费用均被视为杂费。其中包括：客房内电影、长途电话费、客房送餐服务、度假酒店费以及其他类似设施与服务。<br/>
<br/>
一般情况下，杂费将通过客人所登记的信用卡收取。<br/>
<br/>
在某些情况下，杂费可用于累积 Starpoint® 积分（有关更多信息，请访问 SPG.com 的条款部分）。<br/>
<br/>
<h3>如何查看、修改或取消预订？</h3>
对于通过我们的网站或全球预订处进行的预订，您可通过在喜来登现有预订页面中输入您的信息来查看、修改或取消预订。<br/>
<br/>
请注意，我们无法显示、修改或更改通过第三方或外部来源进行的预订。如果您通过第三方或其他途径进行预订，请直接与他们联系。<br/>

<h3>你们的入住/退房政策是什么？ 如何安排提前入住/延迟退房？</h3>
入住/退房时间由各个酒店来决定，并且可能会根据地点的不同而各异。如需查看单独酒店的一般入住/退房政策，请访问客户服务中心，并在指定的表格字段中输入城市或酒店名称。<br/>
<br/>
如果您已完成预订，则入住/退房时间应在您预订时所收到的电子邮件确认中列出。<br/>
<br/>
您可在预订过程中要求提前入住，或在抵达酒店时要求延迟退房。我们会尽最大努力满足此类要求，但特殊的住宿将取决于客房供应情况，且无法予以保证。请务必向酒店员工核实和确认您的请求。<br/>

<h3>我忘了我的 SPG®（SPG® 俱乐部）会员编号</h3>
如果您知道您的密码，则可使用与该账户相关的电子邮件地址登录您的 SPG 俱乐部账户。登录之后，您可通过向下滚动页面并点击账户概述按钮来查找您的 SPG 俱乐部会员编号。此外，您的 SPG 俱乐部会员编号也可在您的 SPG 俱乐部档案页面找到。<br/>
<br/>
如果您不确定您的登录详情和/或忘记了密码，请与我们通话，我们将为您提供帮助。（注意：我们无法通过电子邮件提供 SPG 俱乐部会员编号和账户信息。） 请准备提供您的安全问题答案或下列信息中的五项：<br/>
1).与账户相关的地址<br/>
2).与账户相关的电子邮件地址<br/>
3).您的交易历史<br/>
4).您的信用卡信息<br/>
5).与您的账户相关的任何外部会籍（如飞行常客等）<br/>
6).以往住宿的历史（酒店、地点和日期）<br/>
7).在您的账户中注明的最近联系人信息<br/>
8).在账户中列出的网络 ID<br/>

<h3>什么是 SPG 俱乐部？ 如何成为 SPG 俱乐部会员？ 是否存在与成为 SPG 俱乐部会员相关的成本或费用？</h3>
SPG 俱乐部是一项屡获殊荣的酒店计划，无论您去往何处，都将为您提供非凡的体验、奖励和表彰。会员有机会在任何喜达屋酒店及度假村获得诸多独享礼遇以及可用于精彩逍遥假期的灵活奖励选项。<br/>
<br/>
加入免费，操作简单。若要了解更多信息或成为会员，请立即访问 SPG.com 并注册。

<h3>我的 Starpoints 积分会过期吗？</h3>
只要您的 SPG 俱乐部账户保持有效，您的 Starpoints® 积分就不会过期。如果您的账户在超过六个月的期限后被视为无效，我们会将该账户视为“过期”并将罚没任何 Starpoints 积分。<br/>
<br/>
您的 SPG 俱乐部账户可能会由于下列原因而被视为无效：<br/>
<br/>
您在过去的 12 个月内没有入住喜达屋酒店。<br/><br/>
您在一年或以上的期间内没有购买、赚取、兑换或转让任何 Starpoints 积分。<br/><br/>
您的账户已被取消。<br/><br/>
若要重新激活您的账户，请与我们的员工联系。<br/>

<h3>如何预订会议或筹划活动？</h3>
我们拥有空间场地、丰富经验和专业知识，可确保您所举办的会议或活动完美无瑕。无论是小型会议还是大型宴会，我们的工作人员都将与您通力合作，确保超出您的每一个期望。<br/>
若要了解更多信息或有关筹划会议/活动事宜，请与我们的员工通话或提交在线 RFP 申请表，也可访问我们的会议与活动页面。<br/>

<h3>什么是最优惠房价保证？</h3>
喜达屋致力于确保在我们的品牌网站上提供最优惠房价。在极少数情况下，如果某个非喜达屋网站或移动应用程序提供入住喜达屋酒店的更低房价（以下简称“竞争房价”），<br/>
喜达屋将在收到符合“最优惠房价保证”条款与适用条件的索赔申请之后认同该“竞争房价”，并向提交有效索赔申请的个人提供下列奖励之一：<br/>
(1) 在“竞争房价”基础上享受每房每晚额外 20% 优惠；<br/>
(2) 每房每次住宿 2000 点 SPG® 俱乐部的 Starpoints® 积分。（SPG 俱乐部条款与适用条件。）<br/>

最优惠房价保证要求个人在预订之前或预订之后的 24 小时内提交有效索赔申请。如需了解有关提交索赔申请和最优惠房价保证计划的更多信息，请访问 SPG.com 的喜达屋最优惠房价保证页面。

<h3>如何兑换我的 Starpoints 积分？ 一晚免费住宿需要多少 Starpoints 积分？</h3>
您可通过多种方式使用 Starpoints 积分。免费住宿、旅行折扣、SPG 俱乐部精彩时刻℠和特别策划体验均可使用 Starpoints 积分来进行兑换。每个奖励类别都有不同​​的参数并需要特定的 Starpoints 积分点数。如需了解如何使用 Starpoints 积分提升旅行体验的多种方式的详细说明，请参阅 SPG.com 中的兑换部分。

在您获得足够的 Starpoints 积分之后，您可在全球各地的任何喜达屋酒店将其兑换为免费住宿、套房奖励和各种升级。积分兑换没有限住日期；只要有可用客房，我们很乐意满足您的兑换请求。如需了解有关如何充分利用 SPG 俱乐部计划在我们酒店为您提供的各种机会的更多信息，请访问 SPG.com 中的客房兑换部分。

<h3>如何找到特定于我计划入住酒店的政策和信息？ （宠物政策、机场班车信息、每房最多入住人数、儿童俱乐部等）</h3>
如需有关特定酒店的路线指引、宠物政策或一般信息，请访问客户服务中心并输入您的目的地。
<br />
<br />
<center><input  type="button"  value="返回" onclick="Get_back();"/></center>
</body>
</html>